<form class="my-5" id="userForm">
    <div class="modal" id="myUser">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header" id="modal-body">
                    <h4 class="modal-title">Add New User</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12 mb-3">
                        <label>First Name</label>
                        <input type="text" name="first_name" class="form-control" />
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Last name</label>
                        <input type="text" name="last_name" class="form-control" />
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" />
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" />
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" />
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Phone Number</label>
                        <input type="tel" name="phone" class="form-control" />
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>DOB</label>
                        <input type="date" name="dob" class="form-control" />
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Address</label>
                        <textarea class="form-control" id="user_address" name="address" rows="2"></textarea>
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Gender</label><br />
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="gender" value="Male" />Male
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="gender" value="Female" />Female
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-12 mb-3">
                        <label>Photo</label>
                        <input type="file" id="user_photo" name="photo" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {

        if ($('#userForm').length > 0) {
            console.log('Userform present');
        }

        $("#userForm").submit(function (e) {
            e.preventDefault();
            formData = new FormData(this);
            console.log(formData);
            $.ajax({
                type: "POST",
                url: "/add-user",
                data: formData,
                processData: false, //Don't process the file
                contentType: false, //Set the content type to multipart/form-data
                success: function (user) {

                    $('select[name="user_id"]').append('<option value="' + user.id + '">' + user.first_name + ' ' + user.last_name + '</option>')
                    $('select[name="user_id"] option[value=' + user.id + ']').attr('selected', true)
                    $('#myUser').modal('hide');
                }
            });
        });

    });
</script>